<section class="vertical-layout vertical-menu-modern navbar-floating footer-static" data-open="click" data-menu="vertical-menu-modern" data-col="" id="bodyAdmin">

    <!-- pace-done vertical-layout vertical-menu-modern navbar-floating footer-static menu-expanded -->

    <!-- pace-done vertical-layout vertical-menu-modern content-left-sidebar navbar-floating footer-static menu-collapsed -->

    <app-anavbar></app-anavbar>

    <app-asidebar></app-asidebar>



    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper p-0">
            <div class="content-header row">
            </div>
            <div class="content-body ">

                <router-outlet></router-outlet>

            </div>
        </div>
    </div>
    <!-- END: Content-->

</section>