<app-gnavbar></app-gnavbar>

<div class="container-fluid">
    <div class="row">
        <div class="col">

            <div class="container-fluid">
                <div class="row">
                    <div class="col outlineBorder">
                        <app-gjackpot></app-gjackpot>
                    </div>
                    <div class="col outlineBorder">
                        <app-gpool></app-gpool>
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center">
                        La partida iniciará en: 00: 00: 00
                    </div>
                </div>
            </div>

        </div>
        <div class="col-4 outlineBorder">
            <app-gstreaming></app-gstreaming>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

<app-gmodal-alert></app-gmodal-alert>
<app-gmodal-confirm></app-gmodal-confirm>
<app-gmodal-ticket></app-gmodal-ticket>